<form [formGroup]="foodsForm">
  <mat-selection-list #foodsSelect id="food-selection-list">
    <div
      formArrayName="foods"
      *ngFor="
        let food of foodsFormArray.controls.slice(0, maxFoodsDisplayed);
        let i = index
      "
    >
      <ng-container
        *ngIf="{
          isHidden: true
        } as locals"
      >
        <div
          [formGroupName]="i"
          class="d-flex flex-column"
          style="max-height: 134px"
        >
          <div class="d-flex justify-content-between">
            <span class="mr-2">
              <mat-form-field style="max-width: 90px" appearance="fill">
                <mat-label>Time</mat-label>
                <input
                  (focus)="onFocusEvent($event, locals)"
                  (blur)="onBlurEvent($event, locals)"
                  formControlName="time"
                  type="time"
                  matInput
                  name="time-{{ i }}"
                />
              </mat-form-field>
            </span>

            <span class="flex-grow-1" style="min-width: 0">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Food</mat-label>
                <input
                  (focus)="onFocusEvent($event, locals)"
                  (blur)="onBlurEvent($event, locals)"
                  (keydown)="$event.stopPropagation()"
                  formControlName="name"
                  matInput
                  name="name-{{ i }}"
                  placeholder="Ex. Pizza"
                />
              </mat-form-field>
            </span>

            <span class="ml-2">
              <mat-form-field style="max-width: 90px" appearance="fill">
                <mat-label>Calories</mat-label>
                <input
                  (focus)="onFocusEvent($event, locals)"
                  (blur)="onBlurEvent($event, locals)"
                  formControlName="calories"
                  appNumbersOnly
                  matInput
                  name="calories-{{ i }}"
                  maxLength="4"
                  placeholder="250"
                />
              </mat-form-field>
            </span>

            <mat-list-option
              style="height: 51px"
              color="warn"
              class="ml-2"
              (click)="optionClick()"
              [value]="food"
            >
            </mat-list-option>
          </div>

          <app-macro-input
            [isHidden]="locals.isHidden"
            [form]="foodsForm"
            [foodIndex]="i"
            (onFocus)="onFocusEvent($event, locals)"
            (onBlur)="onBlurEvent($event, locals)"
          ></app-macro-input>

        </div>
      </ng-container>
    </div>
  </mat-selection-list>
</form>
