<!-- select all -->
<div class="d-flex mt-2" style="height: 51px">
  <app-select-all
    class="ml-auto"
    [listLength]="listLength"
    [anySelected]="anySelected()"
    (delete)="deleteSelected()"
    (selectAll)="selectAllChange()"
    [allSelected]="allFoodsSelected"
  ></app-select-all>
</div>

<!-- start foods list divider -->
<mat-divider class="mt-2 mb-3"></mat-divider>

<div
  *ngIf="listLength === 0 && lunchFoodsFormArray.length === 0"
  class="d-flex justify-content-center my-4 p-3 rounded bg-info text-dark"
>
  <span class="d-flex align-items-center font-italic">
    <i
      class="fas fa-exclamation-triangle text-dark mx-2"
      style="font-size: 1.5em"
    ></i>
    No food today
  </span>
</div>

<smooth-height [trigger]="maxFoodsDisplayed">
  <form #foodForm [formGroup]="foodsForm">
    <mat-selection-list #foodsSelect id="food-selection-list">
      <div cdkDropListGroup>
        <div class="example-container">
          <div class="d-flex light-text-success">
            <h3>Breakfast</h3>
            <span class="ml-auto mt-2">8:00 am</span>
          </div>
          <div
            cdkDropList
            #breakfastList="cdkDropList"
            [cdkDropListData]="foodsFormArray"
            (cdkDropListDropped)="drop($event)"
            (cdkDropListEntered)="listEntered($event, foodsFormArray)"
            (cdkDropListExited)="listExited($event, foodsFormArray)"
            style="min-height: 70px"
          >
            <app-food-bfd-list
              [theForm]="foodsForm"
              [arrayIndex]="'0'"
              [formArray]="foodsFormArray"
              [isHidden]="isHidden"
              [showNone]="breakfastShowNone"
              (focusEvent)="onFocusEvent($event)"
              (blurEvent)="onBlurEvent($event)"
              (optionClick)="optionClick()"
            ></app-food-bfd-list>
          </div>
        </div>

        <div class="example-container">
          <div class="d-flex light-text-primary">
            <h3>Lunch</h3>
            <span class="ml-auto mt-2">12:00 pm</span>
          </div>
          <div
            cdkDropList
            #lunchList="cdkDropList"
            [cdkDropListData]="lunchFoodsFormArray"
            (cdkDropListDropped)="drop($event)"
            (cdkDropListEntered)="listEntered($event, lunchFoodsFormArray)"
            (cdkDropListExited)="listExited($event, lunchFoodsFormArray)"
            style="min-height: 70px"
          >
            <app-food-bfd-list
              [theForm]="foodsForm"
              [arrayIndex]="'1'"
              [formArray]="lunchFoodsFormArray"
              [isHidden]="isHidden"
              [showNone]="lunchShowNone"
              (focusEvent)="onFocusEvent($event)"
              (blurEvent)="onBlurEvent($event)"
              (optionClick)="optionClick()"
            ></app-food-bfd-list>
          </div>
        </div>

        <div class="example-container">
          <div class="d-flex light-text-danger">
            <h3>Dinner</h3>
            <span class="ml-auto mt-2">5:00 pm</span>
          </div>
          <div
            cdkDropList
            #dinnerList="cdkDropList"
            [cdkDropListData]="dinnerFoodsFormArray"
            (cdkDropListDropped)="drop($event)"
            (cdkDropListEntered)="listEntered($event, dinnerFoodsFormArray)"
            (cdkDropListExited)="listExited($event, dinnerFoodsFormArray)"
            style="min-height: 70px"
          >
            <app-food-bfd-list
              [theForm]="foodsForm"
              [arrayIndex]="'2'"
              [formArray]="dinnerFoodsFormArray"
              [isHidden]="isHidden"
              [showNone]="dinnerShowNone"
              (focusEvent)="onFocusEvent($event)"
              (blurEvent)="onBlurEvent($event)"
              (optionClick)="optionClick()"
            ></app-food-bfd-list>
          </div>
        </div>
      </div>
    </mat-selection-list>
  </form>
</smooth-height>

<!-- end foods list -->
<mat-divider class="my-2"></mat-divider>

<div class="d-flex mt-3" #loadButtons>
  <span
    class="w-100"
    [ngClass]="{
      'cdk-visually-hidden': !(listLength > 3 && listLength > maxFoodsDisplayed)
    }"
  >
    <button
      mat-flat-button
      (click)="loadMore()"
      class="w-100 d-flex justify-content-center align-items-center bg-transparent font-italic light-text-info"
      style="height: 51px"
    >
      load more
      <!-- <i class="fas fa-arrow-circle-down mx-2" style="font-size: 1.5em"></i> -->
    </button>
  </span>

  <span
    class="ml-auto"
    [ngClass]="{ 'cdk-visually-hidden': !(maxFoodsDisplayed > 3) }"
  >
    <button
      mat-flat-button
      (click)="loadReset()"
      class="bg-transparent light-text-success"
      style="height: 51px; max-width: 42px; min-width: 0"
    >
      <i class="far fa-minus-square" style="font-size: 1.5em"></i>
    </button>
  </span>
</div>
