<div class="col-12" *ngIf="!(user$ | async)">
  <!-- global messages -->
  <div class="alert alert-dismissible alert-info text-center">
    <span
      class="close"
      style="cursor: pointer; color: white"
      data-dismiss="alert"
      aria-label="Close"
      ><span aria-hidden="true">&times;</span></span
    >
    <div class="d-flex justify-content-between">
      <span>Try <a routerLink="/settings">Settings</a></span>
      <strong>Demo</strong>
      <span class="d-none d-lg-block"
        ><a routerLink="/register">Register</a> /
        <a routerLink="/login">Login</a></span
      >
    </div>
  </div>
</div>

<!-- check-in when not logged in -->
<div class="col-md-12 col-lg-5 mb-4 float-left">
  <div *ngIf="!(user$ | async)" class="mb-4">
    <app-check-in
      (newMeasurementCreatedEvent)="measurementAdded($event)"
      [userSettings]="userSettings"
    ></app-check-in>
  </div>
  <div class="clearfix"></div>

  <!-- general vitals dash card -->
  <div class="mb-4">
    <app-vitals
      [lastWeight$]="bodyWeight$"
      [latestBodyFat$]="bodyFat$"
    ></app-vitals>
  </div>

  <!-- daily macros -->
  <div>
    <app-daily-macros [foods$]="foods$"></app-daily-macros>
  </div>
</div>

<!-- daily progress -->
<div class="col-md-12 col-lg-7 mb-4 float-right">
  <app-daily-progress
    [selectedDate]="initialDate"
    [isLoading]="isLoading"
    [foods$]="foods$"
    [inDemo]="inDemo"
    [maxCalories]="maxCalories"
  >
  </app-daily-progress>
</div>

<!-- <div class="clearfix"></div> -->

<!-- check-in when logged in -->
<div *ngIf="user$ | async" class="col-md-12 col-lg-5 mb-4">
  <app-check-in
    (newMeasurementCreatedEvent)="measurementAdded($event)"
    [userSettings]="userSettings"
  ></app-check-in>
</div>
