<div class="col-12">
  <!-- global messages -->
  <div
    class="alert alert-dismissible alert-success text-center"
  >
    <span
      class="close"
      style="cursor: pointer; color: white"
      data-dismiss="alert"
      aria-label="Close"
      ><span aria-hidden="true">&times;</span></span
    >
    <strong>Demo Mode - </strong> edit settings to try out.  register/login to save
  </div>

</div>

<!-- general vitals dash card -->
<div class="col-md-12 col-lg-5 mb-4 float-left">
  <div *ngIf="!(user$ | async)" class="mb-4">
    <app-check-in></app-check-in>
  </div>
  <div class="clearfix"></div>

  <!-- general vitals dash card -->
  <div>
    <app-vitals
      [lastWeight$]="bodyWeight$"
      [latestBodyFat$]="bodyFat$"
    ></app-vitals>
  </div>
</div>

<!-- daily vitals dash card -->
<div class="col-md-12 col-lg-7 mb-4 float-right">
  <app-daily-progress [selectedDate]="initialDate" [isLoading]="isLoading">
  </app-daily-progress>
</div>

<div class="col-md-12 col-lg-5 mb-4 float-left">
  <app-daily-macros
    [selectedDate]="initialDate"
    [isLoading]="isLoading"
  ></app-daily-macros>
</div>
<!-- <div class="clearfix"></div> -->

<!-- general vitals dash card -->
<div *ngIf="user$ | async" class="col-md-12 col-lg-5 mb-4">
  <app-check-in></app-check-in>
</div>
