/******************** Section 1 ****************/


.progress-bar{
    height: 15px;
    color: white;
}

::ng-deep .mat-tooltip {

  background-color: #b58900 !important
}

::ng-deep .mat-typography p {
  margin-bottom: 18px;
}

.dash-vital {
  /* margin: 5px 5px 5px 0;
  border: 1px solid #6c6a6a;
  padding: 12px;
  border-radius: 5px; */
}

::ng-deep .mat-warn .mat-pseudo-checkbox::after {
  color: white;
  }

::ng-deep .mat-checkbox-checkmark-path {
  stroke: white !important;
}

::ng-deep #food-selection-list .mat-list-item-content {
  padding: 0 5px;
}

::ng-deep #select-all-foods .mat-list-item-content {
  padding: 0 5px;
}


