<!------------ nav bar selector needs to be created ----------------->
<div class="container">
  <!---------------- first section with bf and calories ----------------------------------->
  <div class="row firstsec justify-content-center align-items-center">
      <div class="col-sm-12 col-md-12 userInfo">
          <div class="card text-center">
              <div class="card-header bg-success text-light"> User Information </div>
              <div class="card-body">
                  <div class="col-sm-12 col-md-12">
                      <h3>Latest Body Fat Percentage: <span class="badge bg-info rounded-pill">{{latestBF}} %</span></h3>  
                      <h3>Daily Calories: <span class="badge bg-info rounded-pill">{{dailyCal}} Calories</span></h3> 
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row firstsec-2 justify-content-around align-items-center">
      <div class="col-sm-12 col-md-12 first ">
          <h3>Daily Calories Remaining: <span class="badge bg-info rounded-pill">{{leftCal}}</span></h3>
      </div>
      <!-- progress bar -->
      <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="onUpdatePercent()"></div>
      </div>
  </div>
</div>