/******************** Section 1 ****************/
.firstsec {
    min-height: 100px;
    /* color: #d33682; */
    padding: 12px; 
    margin: 12px; 
}

.userInfo {
    padding : 0px; 
}

.firstsec-2{
    min-height: 100px;
    /* color: #d33682 ;    */
    margin: 12px;
    padding: 12px;
}

.progress-bar{
    height: 20px;

}

span{
    color: white;
}

.progress{
    width: 100%;
}

