<!------------ second section with input and button and using local reference to pass data --------->
<div class="container">
    <div class="row sec2 justify-content-center align-items-center">
        <div class="col foodlabel d-flex">
          <span>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Food</mat-label>
              <input matInput placeholder="Ex. Pizza" #nameInput>
            </mat-form-field>
          </span>

          <span class="ml-auto">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Calories</mat-label>
              <input matInput placeholder="250" #calorieInput>
            </mat-form-field>
          </span>
        </div>
    </div>
    <div class="row sec2-2 justify-content-center align-items-center ">
        <div class="addbutton col-sm-6 col-md-6">
            <button type="button" (click)="onAddCalories(calorieInput, nameInput)" class="btn btn-primary">Add to Diary</button>
        </div>
    </div>
    <!------------------------- third section show food that was eaten ---------------------------------->
    <div class="row thirdsec justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6">

          <table matSort (matSortChange)="sortData($event)" class="w-100">
            <tr>

              <th mat-sort-header="date">Date</th>
              <th mat-sort-header="name">Food</th>
              <th mat-sort-header="calories">Calories</th>
              <!-- <th mat-sort-header="fat">Fat (g)</th>
              <th mat-sort-header="carbs">Carbs (g)</th>
              <th mat-sort-header="protein">Protein (g)</th> -->
            </tr>

            <tr *ngFor="let dessert of sortedData">
              <td>{{ dessert.created | date:'mediumTime' }}</td>
              <td>{{dessert.name}}</td>
              <td>{{dessert.calories}}</td>
              <!-- <td>{{dessert.fat}}</td>
              <td>{{dessert.carbs}}</td>
              <td>{{dessert.protein}}</td> -->
            </tr>
          </table>

          <mat-selection-list #foods>
            <mat-list-option *ngFor="let food of dbFoods.reverse()"
              color="warn">
              <div class="d-flex justify-content-between">
                <div>
                  <span>{{ food.name }}</span>
                  <small> 08:25pm</small>
                </div>
                <span>{{ food.calories }}</span>
              </div>
            </mat-list-option>
          </mat-selection-list>

        </div>
    </div>
    <!------------------------ history button -------------------------------------->
    <div class="row historybutton justify-content-center align-items-center ">
        <div class="addbutton col-sm-12 col-md-12">
            <button type="button" class="btn btn-success">View History</button>
        </div>
    </div>
</div>
