/********************* Section 2 ************/
.sec2{
    height: 200px ;
    color: #d33682;
}

.foodlabel input , .calorielabel input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.foodlabel label , .calorielabel label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sec2 input{
    width: 100%;
}

.addbutton{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px; 
}

.addbutton button{
    width: 100% ;
}

/********************* Section 3 ****************/
.thirdsec{
    min-height: 200px;
}

ul{
    list-style-type: none;
}

li {
    margin: .5em;
    padding: .3em 0;
    height: 1.6 em;
}

span{
    font-size: 1em;
}

/************** Hitory button  **********************/
.historybutton{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.historybutton button{
    width: 100% ;
}
