/******************** Section 1 ****************/

.firstsection-2{
    height: 100px;
    color: #d58900
}

.first{
    display: flex;
    align-items: bottom;
    justify-content: center;
}

.progress-bar{
    height: 15px;
    color: white;
}

.flex-right {
  margin-left: auto;
}

.card-body {
  /* border-bottom: 1px solid; */
}

::ng-deep .mat-tooltip {
  /* your own custom styles here */
  /* e.g. */
  background-color: #b58900 !important
}

::ng-deep .mat-typography p {
  margin-bottom: 18px;
}

.dash-vital {
  /* margin: 5px 5px 5px 0;
  border: 1px solid #6c6a6a;
  padding: 12px;
  border-radius: 5px; */
}

::ng-deep .mat-warn .mat-pseudo-checkbox::after {
  color: white;
  }
