<!------------ nav bar selector needs to be created ----------------->

<!---------------- first section with bf and calories ----------------------------------->
<div class="row">
  <div class="col-12 col-sm-12 col-md pb-3">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <span class="text-white">Dashboard</span>
        <i
          class="fas fa-weight flex-right"
          matTooltip="View Measurements"
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          matTooltipHideDelay="1000"
        ></i>
      </div>
      <div class="card-body d-flex">
        <div>
          <p>
            Last Weigh-in :<span class="light-text-primary"> 217 lbs.</span>
            <i class="fas fa-caret-down text-success ml-2"></i>
          </p>
          <p>
            Latest BF :<span class="light-text-primary"> {{ latestBF }} %</span>
            <i class="fas fa-caret-down text-success ml-2"></i>
          </p>
        </div>
        <div class="flex-right">
          <p>
            Daily Cals : <span class="light-text-primary"> {{ dailyCal }}</span>
          </p>
          <p>Strategy : <span class="light-text-success"> CUT</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md pb-3">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <app-custom-date-picker
          [currentDate]="selected"
          (newDateSelectedEvent)="setSelected($event)"
        ></app-custom-date-picker>

        <i
          class="fas fa-utensils flex-right"
          matTooltip="View Foods"
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          matTooltipHideDelay="1000"
        ></i>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <span class="w-100">
            <mat-form-field
              class="example-full-width"
              class="w-100"
              appearance="fill"
            >
              <mat-label>Food</mat-label>
              <input matInput placeholder="Ex. Pizza" #nameInput />
            </mat-form-field>
          </span>

          <span class="ml-2">
            <mat-form-field style="width: 100px" appearance="fill">
              <mat-label>Calories</mat-label>
              <input matInput placeholder="250" #calorieInput />
            </mat-form-field>
          </span>

          <span class="ml-2">
            <button mat-flat-button class="bg-success" style="height: 51px">
              <i class="fas fa-2x fa-cookie-bite"></i>
            </button>
          </span>
        </div>

        <!-- progress bar -->
        <mat-progress-bar
          mode="determinate"
          [value]="onUpdatePercent()"
        ></mat-progress-bar>

        <div class="d-flex mt-1">
          <span class="ml-auto"
            >Remaining :
            <span class="light-text-success">{{ leftCal }}</span></span
          >
        </div>
      </div>
      <!-- end card-body-->
    </div>
    <!-- end card -->
  </div>
</div>
<!-- end row -->
