<!------------ nav bar selector needs to be created ----------------->

<!---------------- first section with bf and calories ----------------------------------->
<div class="row">
  <div class="col-md-12 col-lg-6 pb-3">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <span class="text-white">Dashboard</span>
        <i
          class="fas fa-weight flex-right"
          matTooltip="View Measurements"
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          matTooltipHideDelay="1000"
        ></i>
      </div>
      <div class="card-body d-flex flex-wrap justify-content-between">
        <div class="dash-vital">
          Last Weigh-in :<span class="light-text-primary"> 217 lbs.</span>
          <i class="fas fa-caret-down text-success ml-2"></i>
        </div>
        <div class="dash-vital">
          Latest BF :<span class="light-text-primary"> {{ latestBF }} %</span>
          <i class="fas fa-caret-down text-success ml-2"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-6 pb-3">
    <div class="card">
      <!-- card-header-->
      <div class="card-header d-flex align-items-center">
        <app-custom-date-picker
          [currentDate]="selected"
          (newDateSelectedEvent)="setSelected($event)"
        ></app-custom-date-picker>

        <i
          class="fas fa-utensils flex-right"
          matTooltip="View Foods"
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          matTooltipHideDelay="1000"
        ></i>
      </div>
      <!-- card-body -->
      <div class="card-body">
        <!-- daily vitals -->
        <div class="d-flex justify-content-between">
          <div class="dash-vital mb-3">
            Daily Cals : <span class="light-text-primary"> {{ dailyCal }}</span>
          </div>
          <div class="dash-vital">
            Strategy : <span class="light-text-success"> CUT</span>
          </div>
        </div>

        <!-- TODO: make component -->
        <div class="d-flex">
          <span class="flex-grow-1">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Food</mat-label>
              <input matInput placeholder="Ex. Pizza" #nameInput />
            </mat-form-field>
          </span>

          <span class="ml-2">
            <mat-form-field style="max-width: 100px" appearance="fill">
              <mat-label>Calories</mat-label>
              <input matInput placeholder="250" #calorieInput />
            </mat-form-field>
          </span>

          <span class="ml-2">
            <button mat-flat-button class="bg-success" style="height: 51px">
              <i class="fas fa-2x fa-cookie-bite"></i>
            </button>
          </span>
        </div>
        <!-- end component -->

        <!-- progress bar -->
        <mat-progress-bar
          mode="determinate"
          [value]="onUpdatePercent()"
        ></mat-progress-bar>

        <div class="d-flex mt-2 flex-wrap" style="height: 51px">
          <span class=""
            >Remaining :
            <span class="light-text-success">{{ leftCal }}</span></span
          >
          <div class="d-flex ml-auto">

            <mat-selection-list
              (selectionChange)="selectAllChange()"
              #selectAll
              id="select-all-foods"
              class=""
              style="min-width: 64px; padding-top: 0px"
            >
              <mat-list-option
                color="warn"
                style="max-width: 64px; height: 51px"
                [selected]="allSelected"
              >
              </mat-list-option>
            </mat-selection-list>

            <button
              mat-flat-button
              class="bg-danger ml-2"
              *ngIf="foodsSelect.selectedOptions.selected.length"
            >
              <i class="fas fa-2x fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <!-- end progress bar -->

        <mat-divider class="mt-2"></mat-divider>

        <mat-selection-list
          #foodsSelect
          id="food-selection-list"

        >
          <div
            *ngFor="let food of dbFoods.reverse(); trackBy: trackFood"
            class=""
          >
            <div class="d-flex justify-content-between" style="">
              <span class="mr-2">
                <mat-form-field style="max-width: 100px" appearance="fill">
                  <mat-label>Time</mat-label>
                  <input
                    matInput
                    type="time"
                    [value]="food.date | date: 'hh:mm'"
                  />
                </mat-form-field>
              </span>

              <span class="flex-grow-1">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Food</mat-label>
                  <input matInput placeholder="Ex. Pizza" [value]="food.name" />
                </mat-form-field>
              </span>

              <span class="ml-2">
                <mat-form-field style="max-width: 100px" appearance="fill">
                  <mat-label>Calories</mat-label>
                  <input matInput placeholder="250" [value]="food.calories" />
                </mat-form-field>
              </span>

              <!--
                <span class="ml-3">{{ food.name }}</span>

              <span class="ml-auto mr-3">{{ food.calories }}</span> -->
              <mat-list-option
                style="max-width: 64px; height: 51px"
                color="warn"
                class="ml-2"
                (click)="optionClick()"
                [selected]="food.checked"
              >
              </mat-list-option>
              <!-- <mat-checkbox
                color="warn"
                class="ml-2"
                ([ngModel])="food.checked" [checked]="food.checked || false"
                (change)="onChange($event)"
                name="{{i}}-name"
              >
              </mat-checkbox> -->
            </div>
          </div>
        </mat-selection-list>

        <mat-divider class="mb-2"></mat-divider>

        <div class="d-flex justify-content-center mt-4">
          <button mat-flat-button class="bg-success w-75">
            <i
              class="fas fa-arrow-circle-down mr-2"
              style="font-size: 1.2em"
            ></i>
            <span>Load More</span>
          </button>
        </div>
      </div>
      <!-- end card-body-->
    </div>
    <!-- end card -->
  </div>
</div>
<!-- end row -->
