<!-- progress bar -->
<app-progress-bar
  [percent]="percentOfDaily"
  [remaining]="remainingCalories"
></app-progress-bar>

<!-- select all -->
<div class="d-flex mt-2" style="height: 51px">
  <app-select-all
    *ngIf="listLength !== 0"
    class="ml-auto"
    [anySelected]="anySelected()"
    (delete)="deleteSelected()"
    (selectAll)="selectAllChange()"
    [allSelected]="allFoodsSelected"
  ></app-select-all>
</div>

<!-- start foods list divider -->
<mat-divider class="mt-2 mb-3"></mat-divider>

<div *ngIf="listLength === 0" class="d-flex justify-content-center my-4">
  <span class="d-flex align-items-center">
    <i
      class="fas fa-exclamation-circle text-success mx-2"
      style="font-size: 1.5em"
    ></i>
    No food today
  </span>
</div>

<form [formGroup]="foodsForm">
  <mat-selection-list #foodsSelect id="food-selection-list">
    <div
      formArrayName="foods"
      *ngFor="
        let food of foodsFormArray.controls.slice(0, maxFoodsDisplayed);
        let i = index
      "
    >
      <div [formGroupName]="i" class="d-flex justify-content-between">
        <span class="mr-2">
          <mat-form-field style="max-width: 100px" appearance="fill">
            <mat-label>Time</mat-label>
            <input
              formControlName="time"
              type="time"
              matInput
              name="time-{{ i }}"
            />
          </mat-form-field>
        </span>

        <span class="flex-grow-1">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Food</mat-label>
            <input
              formControlName="name"
              matInput
              name="name-{{ i }}"
              placeholder="Ex. Pizza"
            />
          </mat-form-field>
        </span>

        <span class="ml-2">
          <mat-form-field style="max-width: 100px" appearance="fill">
            <mat-label>Calories</mat-label>
            <input
              formControlName="calories"
              appNumbersOnly
              matInput
              name="calories-{{ i }}"
              maxLength="4"
              placeholder="250"
            />
          </mat-form-field>
        </span>

        <mat-list-option
          style="max-width: 64px; height: 51px"
          color="warn"
          class="ml-2"
          (click)="optionClick()"
          [value]="food"
        >
        </mat-list-option>
      </div>
    </div>
  </mat-selection-list>
</form>

<!-- end foods list -->
<mat-divider class="mb-2"></mat-divider>

<span class="d-flex mt-3">
  <button
    mat-flat-button
    *ngIf="listLength > 3 && listLength > maxFoodsDisplayed"
    (click)="loadMore()"
    class="
      w-100
      d-flex
      justify-content-center
      align-items-center
      bg-transparent
    "
    style="height: 51px; color: lightgrey"
  >
    <span>load</span>
    <i class="fas fa-arrow-circle-down mx-2"></i>
    <span>more</span>
  </button>

  <button
    mat-flat-button
    *ngIf="maxFoodsDisplayed > 3"
    (click)="loadReset()"
    class="bg-transparent ml-auto light-text-success"
    style="height: 51px"
  >
    <i
      class="far fa-2x fa-minus-square"
      matTooltip="Show Less"
      matTooltipPosition="left"
      matTooltipShowDelay="500"
      matTooltipHideDelay="1000"
    ></i>
  </button>
</span>
