<app-dash-card>
  <!-- card-header-->
  <div app-card-header class="d-flex align-items-center">
    <app-custom-date-picker
      [currentDate]="selectedDate"
      (newDateSelectedEvent)="setSelected($event)"
      [disabled]="inDemo"
    ></app-custom-date-picker>

    <i
      class="fas fa-utensils ml-auto"
      matTooltip="View Foods"
      matTooltipPosition="left"
      matTooltipShowDelay="500"
      matTooltipHideDelay="1000"
    ></i>
  </div>

  <!-- card-body -->
  <div app-card-body>
    <!-- daily vitals -->
    <div class="d-flex justify-content-between">
      <div class="dash-vital mb-3">
        <span class="light-text-primary">Daily Calories : </span>
        <span class="light-text-info"> {{ maxCalories | number:'.0-0' }}</span>
      </div>
      <div class="dash-vital">
        <span class="light-text-primary">Strategy : </span><span class="light-text-info"> CUT</span>
      </div>
    </div>

    <!-- food input -->
    <app-food-input (newFoodCreatedEvent)="addFood($event)"></app-food-input>

    <!-- progress bar -->
    <app-progress-bar
      [percent]="percentOfDaily"
    ></app-progress-bar>

    <!-- remaining calories -->
    <div class="float-left mt-2">
      Remaining :
      <!-- <span class="light-text-info">{{ remainingCalories }}</span> -->
      <span [ngClass]="remainingColor()">{{ remainingCalories | number:'.0-0' }}</span>
    </div>

    <div [ngStyle]="{ opacity: isLoading ? 0.3 : 1 }">
      <app-food-list
        [maxCalories]="maxCalories"
      ></app-food-list>
    </div>
  </div>
  <!-- end card-body-->
</app-dash-card>
<!-- end card -->
