/********************* Section 2 ************/
.sec2{
    min-height: 200px ;
    /* color: #d33682; */
    padding: 12px;
    margin: 12px; 
}

.addbutton button{
    width: 100% ;
}

.sec2-2{
    margin: 12px;
    padding: 12px;
}

.cardContent{
    padding: 0px;
}

/********************* Section 3 ****************/
.sec3{
    min-height: 200px;
    margin: 12px; 
}

.cardBody{
    padding: 5px;
}

ul{
    list-style-type: none;
}

li {
    margin: .5em;
    padding: .3em 0;
    height: 1.6 em;
}

span{
    font-size: 1em;
    margin: 5px;
}

.sec3-2{
    margin: 12px ;
    padding: 12px; 
}

.lessPad{
    padding: 5px; 
}