<div
  class="col-sm-10 offset-sm-1 col-md-12 offset-md-0 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2 mb-4"
>
  <form
    [formGroup]="settingsForm"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit(formDirective)"
    class="d-flex flex-column mt-2"
  >
    <app-dash-card class="mb-2">
      <div app-card-header class="d-flex align-items-center">
        <i
          class="fas fa-user-cog mr-3"
          matTooltip="edit user settings"
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          matTooltipHideDelay="1000"
        ></i>
        <span class="light-text-success">User</span>
      </div>
      <div app-card-body>
        <div class="d-flex justify-content-center flex-wrap mt-2">
          <!-- gender input -->
          <div
            class="d-flex justify-content-center align-items-center mb-4 col-12 col-sm-12 col-md-6 mb-4"
          >
            <span class="light-text-info setting-label"> Gender </span>

            <span class="ml-4">
              <mat-button-toggle-group
                #gender="matButtonToggleGroup"
                class="bg-success"
                style="height: 51px"
                name="gender"
                aria-label="body gender"
                formControlName="gender"
              >
                <mat-button-toggle value="male">Male</mat-button-toggle>
                <mat-button-toggle value="female">Female</mat-button-toggle>
              </mat-button-toggle-group>
            </span>
          </div>
          <!-- end gender input -->

          <!-- dob input -->
          <div
            class="d-flex justify-content-center mb-1 col-12 col-sm-12 col-md-6"
          >
            <span class="light-text-info setting-label">
              <label class="mt-3 pt-1">Birthdate</label>
            </span>

            <span class="ml-4">
              <mat-form-field
                appearance="outline"
                style="max-width: 150px"
                class="text-center light-text-success"
              >
                <mat-label>Choose a date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="birthDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </span>
          </div>
          <!-- end dob input -->
        </div>
      </div>
    </app-dash-card>

    <app-dash-card class="mb-2">
      <div app-card-header class="d-flex align-items-center">
        <i
          class="fas fa-pencil-ruler mr-3"
          matTooltip="edit user settings"
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          matTooltipHideDelay="1000"
        ></i>
        <span class="light-text-success">Measurement</span>
      </div>

      <div app-card-body>
        <div class="d-flex justify-content-center flex-wrap mt-2">
          <!-- unit input -->
          <div
            class="d-flex justify-content-center align-items-center mb-4 col-12 col-sm-12 col-md-6"
          >
            <span class="light-text-info setting-label">Unit</span>

            <span class="ml-4">
              <mat-button-toggle-group
                #unit="matButtonToggleGroup"
                class="bg-success"
                style="height: 51px"
                name="unit"
                aria-label="unit of measure"
                formControlName="unit"
              >
                <mat-button-toggle value="metric">Metric</mat-button-toggle>
                <mat-button-toggle value="imperial">Imperial</mat-button-toggle>
              </mat-button-toggle-group>
            </span>
          </div>
          <!-- / unit input -->

          <!-- height input -->
          <div class="d-flex justify-content-center col-12 col-sm-12 col-md-6">
            <span class="light-text-info setting-label">
              <label class="mt-3 pt-1">Height</label>
            </span>

            <span class="ml-4">
              <div *ngIf="unit.value === 'imperial'">
                <mat-form-field
                  appearance="outline"
                  class="text-center w-100 light-text-success"
                  style="max-width: 73px"
                >
                  <mat-label>Feet</mat-label>
                  <input
                    matInput
                    maxLength="1"
                    placeholder="0"
                    formControlName="heightFeet"
                    appNumbersOnly
                  />
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  class="text-center w-100 ml-1 light-text-success"
                  style="max-width: 73px"
                >
                  <mat-label>Inch</mat-label>
                  <input
                    matInput
                    maxLength="2"
                    placeholder="0"
                    formControlName="heightInch"
                    appNumbersOnly
                  />
                </mat-form-field>
              </div>

              <!-- centimeters -->
              <div *ngIf="unit.value === 'metric'">
                <mat-form-field
                  appearance="outline"
                  class="text-center w-100 light-text-success"
                  style="max-width: 150px"
                >
                  <mat-label>Centimeters</mat-label>
                  <input
                    matInput
                    maxLength="5"
                    placeholder="0"
                    formControlName="heightCent"
                    appNumbersOnly
                  />
                </mat-form-field>
              </div>
            </span>
          </div>
          <!-- / height input -->
        </div>
      </div>
    </app-dash-card>

    <app-dash-card class="mb-2">
      <div app-card-header class="d-flex align-items-center">
        <i
          class="fas fa-weight mr-3"
          matTooltip="edit user settings"
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          matTooltipHideDelay="1000"
        ></i>
        <span class="light-text-success">Strategy</span>
      </div>
      <div app-card-body>
        <div class="d-flex justify-content-center flex-wrap mt-2">
          <!-- strategy input -->
          <div
            class="d-flex justify-content-center align-items-center mb-4 col-12 col-sm-12 col-md-6"
          >
            <span class="light-text-info setting-label">Strategy</span>

            <span class="ml-4">
              <mat-button-toggle-group
                #strategy="matButtonToggleGroup"
                class="bg-success"
                style="height: 51px"
                name="strategy"
                aria-label="cut or bulk"
                formControlName="strategy"
              >
                <mat-button-toggle value="cut">Cut</mat-button-toggle>
                <mat-button-toggle value="bulk">Bulk</mat-button-toggle>
              </mat-button-toggle-group>
            </span>
          </div>
          <!-- / strategy input -->

          <!-- rate input -->
          <div
            class="d-flex justify-content-center mb-1 col-12 col-sm-12 col-md-6"
          >
            <span class="light-text-info">
              <label class="mt-3 pt-1 setting-label">Rate</label>
            </span>

            <span class="ml-4" style="width: 150px">
              <mat-form-field
                appearance="outline"
                class="text-center w-100"
                style="max-width: 100px"
                [ngClass]="{
                  'light-text-danger': strategy.value === 'cut',
                  'light-text-success': strategy.value === 'bulk'
                }"
              >
                <mat-label>{{ strategy.value | titlecase }} Rate</mat-label>
                <input
                  matInput
                  maxLength="2"
                  placeholder="0"
                  formControlName="rate"
                  appNumbersOnly
                />
              </mat-form-field>
              <span style="position: relative; left: 15px; bottom: 15px">
                <i
                  class="fas fa-info-circle"
                  style="font-size: 1.5em"
                  [matTooltip]="
                    strategy.value === 'cut'
                      ? 'cut reduces calories'
                      : 'bulk increases calories'
                  "
                  matTooltipPosition="above"
                  matTooltipShowDelay="500"
                  matTooltipHideDelay="1000"
                ></i>
              </span>
            </span>
          </div>
          <!-- / rate input -->
        </div>
      </div>
    </app-dash-card>

    <app-dash-card>
      <div app-card-header class="d-flex align-items-center">
        <i
          class="fas fa-bell mr-3"
          matTooltip="edit notification settings"
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          matTooltipHideDelay="1000"
        ></i>
        <span class="light-text-success">Notifications</span>
      </div>
      <div app-card-body>
        <!-- reminder input -->
        <div class="d-flex justify-content-center mt-2">
          <span class="light-text-info">
            <label class="mt-3">Remind Every</label>
          </span>

          <span class="ml-4 d-flex align-items-start">
            <mat-form-field
              id="reminder"
              appearance="outline"
              class="text-center w-100 light-text-success"
              style="max-width: 50px"
            >
              <input
                matInput
                maxLength="2"
                placeholder="0"
                formControlName="reminderValue"
                appNumbersOnly
              />
            </mat-form-field>

            <mat-button-toggle-group
              #strategy="matButtonToggleGroup"
              class="bg-success ml-1"
              style="height: 51px"
              name="strategy"
              aria-label="cut or bulk"
              formControlName="reminderFrequency"
            >
              <mat-button-toggle value="weekly">Weeks</mat-button-toggle>
              <mat-button-toggle value="monthly">Months</mat-button-toggle>
            </mat-button-toggle-group>
          </span>
        </div>
        <!-- / reminder input -->
      </div>
    </app-dash-card>
  </form>
  <!-- end form -->
</div>
