<table class="table  table-bordered table-striped">
  <thead class="table-success">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Weight</th>
      <th scope="col">Neck</th>
      <th scope="col">Waist</th>
      <th *ngIf="userSettings?.gender === 'female'" scope="col">Hip</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td *ngIf='isFemale'>@mdo</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td *ngIf='isFemale'>@mdo</td>
    </tr>
  </tbody>
</table>
