<form class="container">
  <h1>Settings</h1>

  <section class="form-group">
    <h4>Gender: </h4>
    <mat-button-toggle-group name="gender" aria-label="Font Style">
    <!-- [formControl]="fontStyleControl" Add to <mat-button-toggle-group> ?? -->
      <mat-button-toggle value="male">Male</mat-button-toggle>
      <mat-button-toggle value="female">Female</mat-button-toggle>
    </mat-button-toggle-group>
    <!-- <p>Chosen value is {{fontStyleControl.value}}</p> -->
    <p class="selected-value-paragraph">Chosen gender is: {{userSettings.gender}}</p>
  </section>

  <mat-form-field class="example-full-width form-group" appearance="fill">
    <mat-label>Date of Birth: </mat-label>
    <input value="{{userSettings.birthDate}}" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>cake</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <form class="form-group">
    <!-- <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="height">Height: (Inches)</mat-label>
      <input matInput class="form-control" id="height" placeholder="Height(Metric/Imperial)" value="{{userSettings.height}}">
    </mat-form-field> -->


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label for="height">Height: (Inches)</mat-label>
        <span matPrefix>{{capitalizeFirstLetter( userSettings.unit )}} &nbsp;</span>
        <input type="number" matInput id="height" placeholder="{{userSettings.height}}" value="{{userSettings.height}}">
        <!-- add class="form-control" <input> ?? gives input => NO TRANSPARENCY-->
        <mat-icon matSuffix>accessibility</mat-icon>
      </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>

  <section class="form-group">
    <h4>Measurement Unit:</h4>
    <mat-button-toggle-group name="unit" aria-label="Font Style">
    <!-- [formControl]="fontStyleControl" Add to <mat-button-toggle-group> ?? -->
      <mat-button-toggle value="imperial">Imperial</mat-button-toggle>
      <mat-button-toggle value="metric">Metric</mat-button-toggle>
    </mat-button-toggle-group>
    <!-- <p>Chosen value is {{fontStyleControl.value}}</p> -->
    <p class="selected-value-paragraph">Chosen measurement unit is: {{ userSettings.unit }}</p>
  </section>

  <section class="form-group">
    <h4>Diet Type:</h4>
    <mat-button-toggle-group name="dietType" aria-label="Font Style">
    <!-- [formControl]="fontStyleControl" Add to <mat-button-toggle-group> ?? -->
      <mat-button-toggle value="cut">Cut</mat-button-toggle>
      <mat-button-toggle value="bulk">Bulk</mat-button-toggle>
    </mat-button-toggle-group>
    <!-- <p>Chosen value is {{fontStyleControl.value}}</p> -->
    <p class="selected-value-paragraph">Chosen diet type is: {{ userSettings.dietType }}</p>
  </section>

  <form class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label for="rate">Caloric Surplus/Deficit: (Changes Dependent on Diet Type)</mat-label>
      <input matInput class="form-control" id="rate" placeholder="Calories(Surplus/Deficit)" value="{{userSettings.rate}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>

<mat-divider></mat-divider>
  <h4>Reminder Frequency: {{ userSettings.reminderFrequency }}</h4>
<mat-form-field class="form-group" appearance="fill">
  <mat-label for="reminderFrequency">Reminder Frequency: </mat-label>
  <mat-select class="form-control" id="reminderFrequency">
    <mat-option *ngFor="let reminderFrequency of reminderFrequencies" [value]="reminderFrequency.value">
      {{reminderFrequency.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-divider></mat-divider>
<section>
  <!-- <div class="example-label">Raised: Settings Button</div> -->
  <div class="example-button-row">
    <button mat-raised-button (click)="updateSettings">Update Settings</button>
    <button mat-raised-button color="primary">Update Settings</button>
    <button mat-raised-button color="accent">Update Settings</button>
    <button mat-raised-button color="warn">Update Settings</button>
    <button mat-raised-button disabled>Update Settings</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

</form>
