<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

<!-- Separation -->

<form class="container">
  <h2>Settings</h2>


  <div class="form-group">
    <p>Gender: ({{userSettings.gender}})</p>
    <mat-button-toggle-group name="gender" aria-label="Font Style">
      <mat-button-toggle value="male">Male</mat-button-toggle>
      <mat-button-toggle value="female">Female</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-form-field class="example-full-width form-group" appearance="fill">
    <mat-label>Date of Birth: </mat-label>
    <input value="{{userSettings.birthDate}}" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>cake</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <form class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label for="height">Height: (Inches)</mat-label>
      <input matInput class="form-control" id="height" placeholder="Height(Metric/Imperial)" value="{{userSettings.height}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>


  <div class="form-group">
    <p>Measurement Unit: ({{ userSettings.unit }})</p>
    <mat-button-toggle-group name="unit" aria-label="Font Style">
      <mat-button-toggle value="imperial" checked>Imperial</mat-button-toggle>
      <mat-button-toggle value="metric">Metric</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="form-group">
    <p>Diet Type: ({{ userSettings.dietType }})</p>
    <mat-button-toggle-group name="dietType" aria-label="Font Style">
      <mat-button-toggle value="cut" checked>Cut</mat-button-toggle>
      <mat-button-toggle value="bulk">Bulk</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <form class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label for="rate">Caloric Surplus/Deficit: (Changes Dependent on Diet Type)</mat-label>
      <input matInput class="form-control" id="rate" placeholder="Calories(Surplus/Deficit)" value="{{userSettings.rate}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>

<mat-divider></mat-divider>
  <h4>Reminder Frequency: {{ userSettings.reminderFrequency }}</h4>
<mat-form-field class="form-group" appearance="fill">
  <mat-label for="reminderFrequency">Reminder Frequency: </mat-label>
  <mat-select class="form-control" id="reminderFrequency">
    <mat-option *ngFor="let reminderFrequency of reminderFrequencies" [value]="reminderFrequency.value">
      {{reminderFrequency.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-divider></mat-divider>
<section>
  <!-- <div class="example-label">Raised: Settings Button</div> -->
  <div class="example-button-row">
    <button mat-raised-button (click)="updateSettings">Update Settings</button>
    <button mat-raised-button color="primary">Update Settings</button>
    <button mat-raised-button color="accent">Update Settings</button>
    <button mat-raised-button color="warn">Update Settings</button>
    <button mat-raised-button disabled>Update Settings</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

</form>
