.container {
  border: springgreen 1px solid;
}

.form-group {
  border: red 1px solid;
}

.radio-btn-label {
  margin-left: 1em;
}

.last-submitted-settings {
  color: silver;
  margin-left: 1rem;
}
