<app-dash-card>
  <!-- header -->
  <div app-card-header class="d-flex align-items-center">
    <span class="light-text-primary">Vitals</span>
    <i
      class="fas fa-heartbeat ml-auto"
      matTooltip="View Measurements"
      matTooltipPosition="left"
      matTooltipShowDelay="500"
      matTooltipHideDelay="1000"
    ></i>
  </div>

  <!-- body -->
  <div app-card-body class="d-flex flex-wrap justify-content-between">
    <div class="dash-vital">
      Last Weight<span
        *ngIf="lastWeight$ | async as lastWeight"
        class="light-text-info ml-2"
        >{{ lastWeight }} lbs</span
      >
      <i class="fas fa-caret-down light-text-success ml-2"></i>
    </div>
    <div class="dash-vital" >
      Latest BF<span
        *ngIf="latestBodyFat$ | async as bodyFat"
        class="light-text-info ml-2"
      >
        {{ bodyFat >= 0.05 ? (bodyFat | percent: "2.1") : "---" }}
      </span>
      <i class="fas fa-caret-down light-text-success ml-2"></i>
    </div>
  </div>
</app-dash-card>
