<app-dash-card>
  <!-- header -->
  <div app-card-header class="d-flex align-items-center">
    <span class="light-text-success">Vitals</span>
    <i
      class="fas fa-heartbeat ml-auto"
      matTooltip="General Progress"
      matTooltipPosition="left"
      matTooltipShowDelay="500"
      matTooltipHideDelay="1000"
    ></i>
  </div>

  <!-- body -->
  <div app-card-body class="d-flex flex-column flex-wrap justify-content-between">
    <div class="mt-1 mb-4 d-flex justify-content-between">
    <div class="dash-vital">
      <span class="light-text-primary">Weight</span><span
        *ngIf="lastWeight$ | async as lastWeight"
        class="light-text-info ml-2"
        >{{ lastWeight }} {{ userSettings.unit === 'imperial' ? 'lbs' : 'kg'}}</span
      >
      <i class="fas fa-caret-down light-text-success ml-2"></i>
    </div>
    <div class="dash-vital" >
      <span class="light-text-primary">Body Fat</span><span
        *ngIf="latestBodyFat$ | async as bodyFat"
        class="light-text-info ml-2"
      >
        {{ bodyFat >= 0.05 ? (bodyFat | percent: "2.1") : "---" }}
      </span>
      <i class="fas fa-caret-down light-text-success ml-2"></i>
    </div>
  </div>
  <div class="mt-2 mb-2 d-flex justify-content-between">
    <div class="dash-vital">
      <span class="light-text-primary">LBM</span><span
        *ngIf="leanBodyMass$ | async as leanBodyMass"
        class="light-text-info ml-2"
        >{{ leanBodyMass >= 0.05 ? (leanBodyMass | number: ".1-1") + (userSettings.unit === 'imperial' ? ' lbs' : ' kg') : "---" }}</span
      >
      <i class="fas fa-caret-down light-text-success ml-2"></i>
    </div>
    <div class="dash-vital" >
      <span class="light-text-primary">BMR</span><span
        *ngIf="bmr$ | async as bmr"
        class="light-text-info ml-2"
      >
        {{ (bmr | number: ".0-0") + ' cals' }}
      </span>
      <i class="fas fa-caret-down light-text-success ml-2"></i>
    </div>
  </div>
  </div>

</app-dash-card>
