<div class="card-deck">
  <div class="card m-3" style="min-width: 18rem;">
    <div class="card-header bg-success text-light"></div>
    <img class="card-img-top" src="https://images.unsplash.com/photo-1611077543575-445af69a7adf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3450&q=80" alt="Card image cap">
    <div class="card-body">
      <div class="d-flex flex-column align-items-center p-3">
        <h1 class="text-primary text-center">Be a Fitnit</h1>
        <h3 class="text-center">
          Welcome to the simplest
          way to transform your body.
        </h3>
        <br/>
        <h3 class="text-success text-info text-center"><u>GUARANTEED OR YOUR BODY BACK</u></h3>
      </div>
    </div>
    <!-- /card-body -->
  </div>
  <!-- /card -->

  <div class="card m-3" style="min-width: 18rem;">
    <div class="card-body">
      <div class="d-flex flex-column align-items-center p-3">
        <h1 class="text-primary">Here's How</h1>
        <h3 class="text-center">
          Let's nit for a bit. <br> Enter a few details below.
        </h3>
        <div class="form-row">
          <div class="form-group col-12">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Age"
              id="age"
            />
          </div>
          <div class="form-group col-12">
            <select class="form-control form-control-lg" id="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="form-group col-6">
            <input
              class="form-control form-inline form-control-lg"
              type="text"
              placeholder="Feet"
              id="feet"
            />
          </div>
          <div class="form-group col-6">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Inches"
              id="inches"
            />
          </div>
          <div class="form-group col-12">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Weight"
              id="weight"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- /card-body -->
    <div class="card-footer bg-success text-light"></div>
  </div>
  <!-- /card -->

  <div class="card m-3" style="min-width: 18rem;">
    <div class="card-header bg-success text-light"></div>

    <div class="card-body">
      <div class="d-flex flex-column align-items-center p-3">
        <h1 class="text-primary">Your Initial Profile</h1>
        <h3 class="text-center">
          Below is how many calories your body uses watching TV
        </h3>
      </div>
    </div>
    <!-- /card-body -->
  </div>
  <!-- /card -->

</div>
