<div class="card-columns">
  <div class="card m-3">
    <div class="card-header bg-info text-light"></div>

    <div class="card-body">
      <div class="d-flex flex-column align-items-center p-3">
        <h1 class="text-primary text-center">Are you a Fitnit?</h1>
        <h3 class="text-center">
          Even if you'd say you're more of a fat$#!+, welcome to the simplest
          way to transform your body.
        </h3>
        <h3 class="text-success text-center">GUARANTEED OR YOUR BODY BACK</h3>
      </div>
    </div>
    <!-- /card-body -->
  </div>
  <!-- /card -->

  <div class="card m-3">
    <div class="card-body">
      <div class="d-flex flex-column align-items-center p-3">
        <h1 class="text-primary">Here's How</h1>
        <h3 class="text-center">
          Let's nit just a bit, enter a few details below, and get started.
        </h3>
        <div class="form-row">
          <div class="form-group col-12">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Age"
              id="age"
            />
          </div>
          <div class="form-group col-12">
            <select class="form-control form-control-lg" id="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="form-group col-6">
            <input
              class="form-control form-inline form-control-lg"
              type="text"
              placeholder="Feet"
              id="feet"
            />
          </div>
          <div class="form-group col-6">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Inches"
              id="inches"
            />
          </div>
          <div class="form-group col-12">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Weight"
              id="weight"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- /card-body -->
    <div class="card-footer bg-info text-light"></div>
  </div>
  <!-- /card -->

  <div class="card m-3">
    <div class="card-header bg-info text-light"></div>

    <div class="card-body">
      <div class="d-flex flex-column align-items-center p-3">
        <h1 class="text-primary">Your Initial Profile</h1>
        <h3 class="text-center">
          Below is how many calories your body uses watching TV
        </h3>
      </div>
    </div>
    <!-- /card-body -->
  </div>
  <!-- /card -->
</div>
