<!-- ************************************************
    
Additional features needed to complete Dashboard:  

- Get and display date/day on Dashboard 
- Food Intake table does not display correctly. If 
  food name is to long it misaligns the connent. 
- Add phone gestures (recommended but not needed)
- Fetch latest body fat, daily calories from User 
- Connect it to Rudy's API. Right now it based of of 
  Frankie's API. Note: API_URL is currently set in the 
  enviroment.ts  file. 

************************************************-->

<!------calorie component  -->
<app-calorie></app-calorie>
<!-- calore instake component -->

<app-calorie-intake></app-calorie-intake>
<!-- apply a history link -->
<!-- footer component -->
