/* You can add global styles to this file, and also import other style files */

body {
  overflow-y: hidden;
}

@media (min-width: 576px) {
  #myContainer {
      max-width: 97.5%; /*this gives it the precise width to match the Bootstrap defaults*/
  }
}

@media (min-width: 768px) {
  #myContainer {
      max-width: 720px; /*this gives it the precise width to match the Bootstrap defaults*/
  }
}

@media (min-width: 992px) {
  #myContainer {
      max-width: 97.5%; /*this gives it the precise width to match the Bootstrap defaults*/
  }
}

@media (min-width: 1200px) {
  #myContainer {
      max-width: 1140px; /*this gives it the precise width to match the Bootstrap defaults*/
  }
}

body {
  color: lightgrey;
}

.inline-img {
  max-width: 30%;
}

.card-body-bg {
  background-color: #002b36;
}

*:focus, button:focus {
  outline: 0;
}

.light-text-primary {
  color: #d6a103;
}

.light-text-success {
  color: #38d5c9 !important
}

.light-text-warning {
  color: #dd6734 !important;
}

.light-text-danger {
  color: #e96ba8 !important;
}

.light-text-info {
  color: #7ebbe7 !important
}

.mat-form-field-outline {
  background-color: #073642 !important;
}

.mat-list-option {
  max-width: 30px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0;
}

.mat-form-field-appearance-outline .mat-form-field-infix input {
  padding: 1em 0 1em 0;
}
