/* You can add global styles to this file, and also import other style files */

body {
  color: lightgrey;
}

.inline-img {
  max-width: 30%;
}

.card-body-bg {
  background-color: #002b36;
}

*:focus {
  outline: 0;
}

.light-text-primary {
  color: #d6a103;
}

.light-text-success {
  color: #38d5c9 !important
}
