<app-dash-card>
  <div app-card-header class="d-flex align-items-center">
    <span class="light-text-success">Daily Macronutrients</span>
    <i
      class="fas fa-spinner ml-auto"
      matTooltip="Daily Macronutrient Progress"
      matTooltipPosition="left"
      matTooltipShowDelay="500"
      matTooltipHideDelay="1000"
    ></i>
  </div>
  <div app-card-body>
    <div class="pt-3 mb-4">
      <div class="d-flex mb-2 px-1">
        <span>protein</span>
        <div class="ml-auto">
          <span class="">{{ protein }}</span> /
          <span class="light-text-info">212 g</span>
        </div>
      </div>
      <app-progress-bar
        [percent]="proteinPercent"
      ></app-progress-bar>
    </div>

    <div class="pt-3 mb-4">
      <div class="d-flex mb-2 px-1">
        <span>carbs</span>
        <div class="ml-auto">
          <span class="">{{ carbohydrate }}</span> /
          <span class="light-text-info">222 g</span>
        </div>
      </div>
      <app-progress-bar
        [percent]="carbohydratePercent"
      ></app-progress-bar>
    </div>

    <div class="pt-3 mb-4">
      <div class="d-flex mb-2 px-1">
        <span>fats</span>
        <div class="ml-auto">
          <span class="">{{ fat }}</span> /
          <span class="light-text-info">50 g</span>
        </div>
      </div>
      <app-progress-bar
        [percent]="fatPercent"
      ></app-progress-bar>
    </div>

  </div>
</app-dash-card>
