<router-outlet></router-outlet>
<div
  *ngIf="loading; else showTable"
  style="display: flex; justify-content: center; align-items: center"
>
  <mat-spinner></mat-spinner>
</div>
<ng-template #showTable>
  <table class="table table-bordered table-striped">
    <thead class="table-success">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Weight</th>
        <th scope="col">Neck</th>
        <th scope="col">Waist</th>
        <th *ngIf="isFemale" scope="col">Hip</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let measurement of measurements">
        <th scope="row">{{ measurement.date | date: "mediumDate" }}</th>
        <td>{{ measurement.weight + " " + weightUnit }}</td>
        <td>
          {{ measurement.neck ? measurement.neck + " " + lengthUnit : "---" }}
        </td>
        <td>
          {{ measurement.waist ? measurement.waist + " " + lengthUnit : "---" }}
        </td>
        <td *ngIf="isFemale">{{ measurement.hips }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>
