<router-outlet></router-outlet>
<div *ngIf="loading; else showTable" class="loader">
  <app-growing-spinner></app-growing-spinner>
</div>
<ng-template #showTable>
  <mat-list>
    <mat-list-item
      *ngFor="let measurement of measurements"
      class="w-100 bg-dark rounded my-1 text-secondary"
    >
      <img
        matListAvatar
        src="https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=612x612&w=0&h=kjCAwH5GOC3n3YRTHBaLDsLIuF8P3kkAJc9RvfiYWBY="
        alt="user image"
      />
      <h3 matLine class="d-flex justify-content-between">
        {{ measurement.date | date: "shortDate" }}
        <span>{{ measurement.weight }}</span>
      </h3>
      <p *ngIf="measurement.neck" matLine class="d-flex justify-content-between">
        <span> Neck: {{ measurement.neck }} </span>
        <span class="demo-2"> Waist: {{ measurement.waist }} </span>
      </p>
    </mat-list-item>
  </mat-list>

</ng-template>
