li.nav-item {
  margin-left: 10px;
}

li.nav-item a:hover {
  border-radius: 15px;
  background-color: #d6a103;
}

.dropdown-item {
  color: white;
}
.dropdown-item i {
  width: 25px;
}

::ng-deep .mat-menu-content {

}

.mat-menu-item{
  line-height:35px;
  height:35px;
}

.mat-menu-item:hover {
  background-color: #002b36;
}
