<nav class="navbar navbar-expand navbar-dark bg-primary shadow-sm">
  <div class="container-fluid px-3">
    <a class="navbar-brand" [routerLink]="currentUser ? '/home' : ''">
      Fitnits
    </a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left Side Of Navbar -->
      <ul class="navbar-nav mr-auto"></ul>

      <!-- Right Side Of Navbar -->
      <ul
        *ngIf="currentUser; else showLoginRegister"
        class="navbar-nav ml-auto"
      >
        <!-- Search form -->

        <!-- User Links -->

        <li class="nav-item" style="margin-right: 10px">
          <a routerLink="/profile" class="nav-link px-3">
            <i class="fas fa-2x fa-user-circle"></i>
            <span class="ml-2" style="vertical-align: super">{{
              currentUser.username
            }}</span>
          </a>
        </li>

        <li class="nav-item">
          <button
            mat-mini-fab
            aria-label="Measurements icon"
            routerLink="/measurements"
            [routerLinkActive]="'active'"
            class="nav-link"
          >
            <i class="fas fa-weight" matTooltip="Measurements"></i>
          </button>
        </li>

        <li class="nav-item dropdown">
          <button
            mat-mini-fab
            color="primary"
            aria-label="nav open"
            id="navbarDropdown"
            class="nav-link active"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            mat-button
            [matMenuTriggerFor]="menu"
          >
            <i class="fas fa-caret-down"></i>
          </button>

          <mat-menu
            #menu="matMenu"
            aria-labelledby="navbarDropdown"
            class="bg-primary"
            style="width: 300px"
          >
            <!-- <a mat-menu-item routerLink="/profile" class="dropdown-item">
              <i class="fas fa-user-circle"></i>Profile</a
            >
            <a mat-menu-item routerLink="/friends" class="dropdown-item">
              <i class="fas fa-user-friends"></i>Friends</a
            >
            <div class="dropdown-divider"></div> -->
            <a mat-menu-item routerLink="/settings" class="dropdown-item">
              <i class="fas fa-cog"></i>Settings</a
            >
            <a
              mat-menu-item
              routerLink="/login"
              (click)="logout()"
              class="dropdown-item"
            >
              <i class="fas fa-sign-out-alt"></i>Logout
            </a>
          </mat-menu>
        </li>
      </ul>

      <!-- Authentication Links -->

      <ng-template #showLoginRegister>
        <button
          mat-icon-button
          color="primary"
          aria-label="settings icon"
          routerLink="/settings"
          [routerLinkActive]="'true'"
          class="nav-link ml-auto text-light"
        >
          <i
            class="fas fa-cog"
            style="font-size: 1.5em"
            matTooltip="edit settings"
          ></i>
        </button>

        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button
              mat-icon-button
              style="font-size: 1.5em"
              color="primary"
              aria-label="nav open"
              id="navbarDropdown"
              class="nav-link active"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              mat-button
              [matMenuTriggerFor]="authmenu"
            >
              <i class="fas fa-caret-down"></i>
            </button>
            <mat-menu
              #authmenu="matMenu"
              aria-labelledby="navbarDropdown"
              class="bg-primary"
              style="width: 300px"
            >
              <a
                mat-menu-item
                class="dropdown-item"
                routerLink="/login"
                [routerLinkActive]="'active'"
                >Login</a
              >

              <a
                mat-menu-item
                class="dropdown-item"
                routerLink="/register"
                [routerLinkActive]="'active'"
                >Register</a
              >
            </mat-menu>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
