
  
  <div class="card">
    <div class="card-header bg-success text-light">Register</div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="container-fluid">
  <!-- Enter UserName -->
  <div class="form-group-row">
      <label for="username" class="text-warning">Username</label>
      
      <input type="text" 
      class="form-control fluid"
      formControlName="username" 
      [ngClass]="displayFieldCss('username')"
      placeholder="Enter User Name" 
      value =""
      required
      />
          <app-field-error-display
           [displayError]="isRequiredFieldValid('username')"
            errorMsg="Username is required"
            >
            </app-field-error-display>
      
    </div>

    <!-- Enter Email Address -->
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4" class="text-danger">Email address</label>
      <input type="email" 
      class="form-control" 
      id="email" 
      formControlName = "email" 
      [ngClass]="displayFieldCss('email')"
      placeholder="Enter email">
      <app-field-error-display
              [displayError]="isRequiredFieldValid('email')"
              errorMsg="Email is required"
         >
              </app-field-error-display>
      
      
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <!-- Enter Password -->
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4" class="text-success">Password</label>
      <input type="password" 
             class="form-control" 
              id="password" 
              formControlName="password"
              [ngClass]="displayFieldCss('password')"
              placeholder="Password">
              <app-field-error-display
              [displayError]="isRequiredFieldValid('password')"
              errorMsg="Password is required"
         >
              </app-field-error-display>
        
              
    </div>
    <!-- Confrm Password -->
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4" class="text-info">Re-Enter Password</label>
      <input type="password" 
      class="form-control" 
      id="reEnterPassword" 
      formControlName="passwordConfirm"
      [ngClass]="displayFieldCss('passwordConfirm')"
      placeholder="Re-Enter Password"
      >
      <!-- <div *ngIf="checkIfMatchingPasswords('error')">Wrong Password</div> -->
      
     

      
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-8">
      <button type="submit" class="btn btn-primary" >Register</button>
    </div>
  </div>
</form>
</div>

 
  
  <hr>
  <hr>
